<img src = "images/3_logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Chipoltle</font></h1>
<h2 align=center><font size = 5>Importer et Explorer</font></h2>

### 1. Importer les librairies nécessaires

In [2]:
import pandas as pd
import numpy as np

###  2. Importer le jeu de données depuis [addresse](https://needemand.com/keepsmiling2/index.php/s/9KGweKQ3SDgJNYQ).

### 3. Affecter les données à une variable chipo.

In [6]:
chipo = aliments = pd.read_csv('//home//matthieu//Documents//Cours GitHub//Exos_Pandas//1_Importer_&_Explorer//data//chipotle.tsv', sep='\t')

### 4. Afficher les 10 premières entrées.

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

###  5. Combien y a t-il d'observations dans le jeu de données ?

In [9]:
# Solution 1

print(chipo.shape[0])

4622

In [11]:
# Solution 2

print(len(chipo))

4622

### 6. Combien y a t-il de colonnes dans le jeu de données ?

In [12]:
print(chipo.shape[1])

5

### 7. Afficher les noms des colonnes

In [15]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 8. Comment le dataFrame est-il indexé ?

In [ ]:
print(chipo.index)

### 9. Quel est l'article le plus commandé?

### 10. Combien ont été commandés?

### 11. Quel a été l'article le plus commandé dans la colonne choice_description ?

###  12. Combien d'articles ont été commandés au total ?

###  13. Changer le type du prix en float

####  13.a. CAfficher le type du prix

#### 13.b. Créer une fonction lambda et changer le type du prix

####  13.c. Verifier le transtypage éffectué

###  14. Quel est le montant total de la recette pour la période ?

###  15. Combien de commandes ont été passées durant la période ?

###  16. Quell est le montant moyen d'une commande ?

In [3]:
# Solution 1

In [4]:
# Solution 2

###  17. Combien d'arfticles différents ont été vendus?

<hr>
Copyright &copy; 2018 Hatem & Driss @NEEDEMAND